/* ===============================
   GLOBAL VARIABLES
================================ */
:root {
    --green: #63B34E;
    --light-green: #EAF6E7;
    --white: #FFFFFF;
    --dark: #2E2E2E;
    --muted: #8A8A8A;
}


